<div class="panel-body" >
<%= form_for @service , :html => { :multipart => true, class: "form-horizontal" } do |f| %>
 <div class="form-group required">
  
   <%= f.label "Name of Service", class: "control-label col-md-5 col-xs-12 col-sm-5 text-center requiredField"%>
      <div class="controls col-md-3 col-xs-12 col-sm-5 "> 
           <%= f.text_field :name, autofocus: true, required: :true,class: "input-md textinput textInput form-control m-b-10"%>   
                       </div> 
  </div>
  <div class="form-group required">
  
   <%= f.label "Description", class: "control-label col-md-5 col-xs-12 col-sm-5 text-center requiredField"%>
      <div class="controls col-md-3 col-xs-12 col-sm-5 "> 
           <%= f.text_area :description, required: :true,class: "input-md textinput textInput form-control m-b-10"%>   
                       </div> 
  </div>
  
<div class="form-group required">
  
   <%= f.label "Image", class: "control-label col-md-5 col-xs-12 col-sm-5 text-center requiredField"%>
       
     <div class="controls col-md-3 col-xs-12 col-sm-5 "> 
           <%= f.file_field :photo, required: :true,class: "input-md textinput textInput  text-center m-b-10"%>   
                       </div> 
  </div>
   <div class="form-group">
                          <div class="controls col-md-12 col-md-offset-3 text-center">
                             <%= f.submit 'Submit', class: "btn btn-primary btn btn-info" %>  
                          </div>
                    </div>

   
</div>

<% end %>

<script type="text/javascript">
$(document).ready(function () {
$("#new_service").validate({
rules: {
"service[name]": {required: true},
"service[description]": {required: true},
"service[photo]": {required: true}
}
});
});
</script>