<style type="text/css">
  .color-black:active{
    font-weight: 700;
    color: #f13c20;
  }
  a:hover{
    color: #f13c20;
  }
  .box{
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.15);
    margin-bottom: 26px;
  }
  .button-vehicle:hover{
  background-color: #f13c20;
   border:2px solid white;
   color: white;
}
.button-vehicle1:hover{
  background-color: #f13c20;
   border:2px solid white;
   color: white;
}
.card .card-body {
    position: relative;
    padding: 20px 15px;
    text-align: left;
}
</style>


<div class="clearfix">

       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-50 ">
           <div class="f-20 " style="margin-bottom: 20px;"><b><%= @service.name%></b>
             <span style="float: right;" class="hidden-xs hidden-sm">
               <%if user_signed_in?%>
                  <span ><%= link_to 'Book Now', new_booking_path ,:class => "button-vehicle2 p-dif " %></span>
                  <%else%>
                  <span ><a href="/#section-link" class = "button-vehicle2  p-dif">Book Now</a></span>
               <%end%>
               <button type="button" class="button-vehicle2 " data-toggle="modal" data-target="#myModal">Check out price</button>
             </span>
           </div>
           <hr>
           <div class="visible-xs visible-sm m-b-20">
              <%if user_signed_in?%>
                 <span ><%= link_to 'Book Now', new_booking_path ,:class => "button-vehicle2 media-p1 p-dif" %></span>
              <%else%>
                 <span ><a href="/#section-link" class = "button-vehicle2 media-p1 p-dif ">Book Now</a></span>
              <%end%>
              <button type="button" class="button-vehicle2 media-p " data-toggle="modal" data-target="#myModal">Check out price</button>
           </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><%= image_tag @service.photo.url(:large) ,:class => "img-responsive box border"%></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="m-t-20"><b><u>Description:</u></b><p><%= @service.description%></p></div>
        <div class="m-t-20"><b><u>When it is required?</u></b><p><%= @service.required%></p></div>
        <div class="m-t-20"><b><u>What all is covered?</u></b><p><%= @service.covered%></p></div>
        </div>  
       </div>
</div>


<script type="text/javascript">
var service = "<%=@service.id%>";
function f5(){
        $.ajax({type: "GET",url: "/servicecost",data: {
        vehicle_id: $("#vehicle_vehicle_id option:selected").val(),service_id: service}
        });  
}
</script>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Price Details</h4>
        </div>
        <div class="modal-body">
        <p class="color-orange">Select vehicle for cost</p>
           <div class="collection border-drop"><%= collection_select(:vehicle, :vehicle_id, @service.vehicles, :id, :vehicle_name ,{ :style => 'width: 100%;border: 1px solid;'},{ :onChange => "f5()"} ) %>
              </div>
              <br>
              <p id="cost" ></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
