<style type="text/css">
  .color-black:active{
    font-weight: 700;
    color: #f13c20;
  }
  a:hover{
    color: #f13c20;
  }
  .box{
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.15);
    margin-bottom: 26px;
  }
  .button-vehicle:hover{
  background-color: #f13c20;
   border:2px solid white;
   color: white;
}
.button-vehicle1:hover{
  background-color: #f13c20;
   border:2px solid white;
   color: white;
}
.card .card-body {
    position: relative;
    padding: 20px 15px;
    text-align: left;
}
</style>
<div class="clearfix "  >
        <!-- <div class="text-center pumping-heart color-orange m-t-30">
            <i class="fa fa-wrench"></i>
            <h4>SERVICES</h4>
        </div> -->
       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 m-t-30">
        <div class="available-color"><b><u>AVAILABLE SERVICES</u></b></div>
       	  <%Service.all.each do |service|%>
				 <span class="animated zoomInUp"><%= link_to service.name , service_path(service) , :class => "f-10 color-black active"%></span>
       	  <hr>   
       	  <%end%>
       </div>
       <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 p-10 border-left text-center ">
           <div class="f-20 " style="margin-bottom: 20px;"><b><u><%= @service.name%></u></b></div>
           <div><%= image_tag @service.photo.url(:large) ,:class => "img-responsive box auto"%></div>
           <div class="m-t-20"><b><u>Description:</u></b><p><%= @service.description%></p></div>
           <div class="m-t-20"><b><u>When it is required?</u></b><p><%= @service.required%></p></div>
            <div class="m-t-20"><b><u>What all is covered?</u></b><p><%= @service.covered%></p></div>
            <%#= collection_select(:vehicle, :vehicle_id, Vehicle.all, :id, :vehicle_name,{prompt: 'Select Vehicle'}) %>
      <%#= grouped_collection_select( :service,:id, Vehicle.order(:id), :services, :vehicle_name, :id, :name) %>
      <%# a = VehicleService.find(params[:id]) %>
      <!-- <p id="cost" style="display: none;"><%#=a.basic_cost %></p> -->
       </div>
       <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  text-center" style="margin-top: 50px;">
           <%if user_signed_in?%>
             <div class="animated zoomInUp"><%= link_to 'BOOK NOW', new_booking_path ,:class => "button-vehicle1  " %></div>
           <%end%>
             <!-- <div class="m-t-30 m-b-20 animated zoomInUp"><%#= link_to 'CHECKOUT PRICE', new_booking_path ,:class => "button-vehicle1 " %></div>
             <div> -->
               <div class="card card-shadow m-t-30" style="background-color: #e3e3e3;">
          <div class="card-heading">
            <h3 class="card-title " style="color: #f13c20">CHECKOUT PRICE</h3>
          </div><!--.card-heading-->
          <div class="card-body ">
          <% a = VehicleService.find(params[:id]) %>
              <div class="collection"><%= collection_select(:vehicle, :vehicle_id, Vehicle.all, :id, :vehicle_name , { :style => 'width: 100%;border: 1px solid;' }) %></div>
              <br>
              <%= grouped_collection_select( :service,:id, Vehicle.order(:id), :services, :vehicle_name, :id, :name) %>
             <!-- <div class="collection"><%#= grouped_collection_select( :vehicleservice,:id, Service.order(:id), :vehicle_services, :id, :id, :basic_cost )  %></div> -->
              <br>
              
              <br>
              <!-- <p id="cost"><b class="color-orange">SERVICE COST: Rs.</b><%=a.basic_cost %></p> -->
          </div><!--.card-body-->
        </div><!--.card-->
             </div>
           </div>
</div>


       
</div>
<script type="text/javascript">
  jQuery(function() {
 var models = $('#service_id').html();
 return $('#vehicle_vehicle_id').change(function() {
  var brand = $('#vehicle_vehicle_id :selected').text();
   var options = $(models).filter(`optgroup[label='${brand}']`).html();
  if (options) {
   return $('#service_id').html(options);
  } else {
   return $('#service_id').empty();
 }
 });
});
</script>

