<style type="text/css">
  .color-black:active{
    font-weight: 700;
    color: #f13c20;
  }
  a:hover{
    color: #f13c20;
  }
  .box{
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.15);
    margin-bottom: 26px;
  }
  .button-vehicle:hover{
  background-color: #f13c20;
   border:2px solid white;
   color: white;
}
.button-vehicle1:hover{
  background-color: #f13c20;
   border:2px solid white;
   color: white;
}
</style>
<div class="clearfix " style="padding: 31px;" >
       <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 " >
        <div class="available-color"><b><u>AVAILABLE SERVICES</u></b></div>
       	  <%Service.all.each do |service|%>
          <span><a href="<%=service_path(service)%>"><%=image_tag service.photo.url(:thumb) , :class =>"b-r-15" %></a></span>
				 <span><%= link_to service.name , service_path(service) , :class => "f-10 color-black active"%></span>
       	  <hr>   
       	  <%end%>
       </div>
       <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 p-20 border-left text-center ">
           <div class="f-20 " style="margin-bottom: 20px;"><b><u><%= @service.name%></u></b></div>
           <div><%= image_tag @service.photo.url(:large) ,:class => "img-responsive box auto"%></div>
           <div>
             <span><%= link_to 'CHECKOUT PRICE', new_booking_path ,:class => "button-vehicle padding-less" %></span>
            <%if user_signed_in?%>
             <span><%= link_to 'BOOK NOW', new_booking_path ,:class => "button-vehicle hidden-xs hidden-sm" %></span>
             <div><%= link_to 'BOOK NOW', new_booking_path ,:class => "button-vehicle1 m-t-16 visible-xs visible-sm" %></div>
           <%end%>
           </div>
           <div class="m-t-20"><b><u>Description:</u></b><p><%= @service.description%></p></div>
           <div class="m-t-20"><b><u>When it is required?</u></b><p><%= @service.required%></p></div>
            <div class="m-t-20"><b><u>What all is covered?</u></b><p><%= @service.covered%></p></div>
       </div>
</div>
