 
  <h3 class="contact-text"> LEAVE A MESSAGE</h3>
  <hr class="message">
    <%= form_for @message ,html: {class: "form-group"} do |f| %>
      <div class="cols-sm-10">
        <div class="input-group">
          
        <%= f.text_field :name, class: "form-control",autofocus: true,id: "name",placeholder: "Enter your Name" %>
        </div>
      </div>
    <br>
      <div class="cols-sm-10">
        <div class="input-group">
           
        <%= f.email_field :email,class: "form-control", id: "email",placeholder: "Enter your Email",required:true %>
        </div>  
      </div>          
    <br>
      <div class="cols-sm-10">
        <div class="input-group">
          
        <%= f.text_field :phone,class: "form-control", id: "username",placeholder: "Enter your Phone number" %>
        </div>
      </div>         
    <br>
      <div class="cols-sm-10">
        <div class="input-group">
          
        <%= f.text_field :message, autofocus: true,class: "form-control",placeholder: "Enter your Message" %>
        </div>
      </div>        
    <br>
    <%= f.submit 'Submit', class: "btn btn-primary btn-lg btn-block login-button actions"%>
    <% end %> 

<script type="text/javascript">
$(document).ready(function () {
$("#new_message").validate({
rules: {
"message[name]": {required: true},
"message[email]": {required: true, email: true},
"message[phone]": {required: true,minlength: 10,maxlength: 10,digits: true},
"message[subject]": {required: true},
"message[message]": {required: true}
}
});
});

</script>