
<h3>Leave a message</h3>

<%= form_for @message do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, required: :true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, required: :true %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autofocus: true, required: :true %>
  </div>

  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject, autofocus: true, required: :true %>
  </div>
  
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message, autofocus: true, required: :true %>
  </div>


  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>