 
  <h3 class="contact-text formunder1"> LEAVE A MESSAGE </h3>
    <%= form_for @message ,html: {class: "form-group m-t-35 text-center "} do |f| %>
      <div class="cols-sm-12 text-center">
        <div class="input-group w-100">
          
        <%= f.text_field :name, class: "form-control ",id: "name",placeholder: "Enter your Name", style: "border-bottom: 1px solid #F5DCDC;" %>
        </div>
      </div>
    <br>
      <div class="cols-sm-10">
        <div class="input-group w-100">
           
        <%= f.email_field :email,class: "form-control", id: "email",placeholder: "Enter your Email",required:true , style: "border-bottom: 1px solid #F5DCDC;"%>
        </div>  
      </div>          
    <br>
      <div class="cols-sm-10">
        <div class="input-group w-100">
          
        <%= f.text_field :phone,class: "form-control ", id: "username",placeholder: "Enter your Phone number", style: "border-bottom: 1px solid #F5DCDC;" %>
        </div>
      </div>         
    <br>
      <div class="cols-sm-10">
        <div class="input-group w-100">
          
        <%= f.text_area :message,class: "form-control",placeholder: "Enter your Message", style: "border-bottom: 1px solid #F5DCDC;" %>
        </div>
      </div>        
    <br>
    <div class="col-sm-5 col-sm-offset-3 ">
        
    <%= f.submit 'Submit',class: "btn btn-primary btn-lg btn-block login-button actions  button-border color-orange"%>
   
    </div>
    <% end %> 

<script type="text/javascript">
$(document).ready(function () {
$("#new_message").validate({
rules: {
"message[name]": {required: true},
"message[email]": {required: true, email: true},
"message[phone]": {required: true,minlength: 10,maxlength: 10,digits: true},
"message[subject]": {required: true},
"message[message]": {required: true}
}
});
});

</script>