
<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@model, remote: remote, html: {role: :form, 'data-model' => 'model'}) do |f| %>

	<div class="field">
	    <%= f.label "Brand:" %>
	    <%= f.collection_select :brand_id, Brand.all, :id, :name,prompt: 'Select Brand' %>
	</div>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, required: :true %>
  </div>
  
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<script type="text/javascript">
$(document).ready(function () {
$("#new_model").validate({
debug: true,
rules: {
"model[name]": {required: true},
"model[brand_id]": {required: true}
}
});
$("#model_brand_id").change(function () {
   if ($("#model_brand_id").val() == 0) {
     $('#model_name').attr('disabled', 'disabled');
     } else {
       $('#model_name').removeAttr('disabled');
     }
}).trigger("change");
});
</script>