
<h3>Add a vehicle</h3>

<%= form_for @uservehicle do |f| %>

	<div class="field">
	    <%= f.label "Brand:" %><br>
	    <%= f.collection_select :vehicle_id, Brand.all, :id, :name,{prompt: 'Select Brand'} ,{:id=>"f1"}%>
	</div><br>

  <div class="field">
      <%= f.label "Model:" %><br>
      <%= f.grouped_collection_select :vehicle_id, Brand.order(:name), :models, :name, :id, :name,{prompt: 'Select Model'},{:id=>"f2"} %>
  </div><br>


  <div class="field">
      <%= f.label "Variant:" %><br>
      <%= f.collection_select :vehicle_id, Variant.all, :id, :name ,{prompt: 'Select Variant'},{:id=>"f3"}%>
  </div><br>


  <div class="field">
    <%= f.label "Manufacture Year:" %><br>
    <%= f.text_field :manf_year, required: :true %>
  </div><br>
  <div class="field">
    <%= f.label "Registration Number:" %><br>
    <%= f.text_field :reg_no, required: :true %>
  </div><br>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>