
<h3>Add a vehicle</h3>

<%= form_for @uservehicle do |f| %>

	<div class="field">
	    <%= f.label "Brand:" %><br>
	    <%= f.collection_select :brand_id, Brand.all, :id, :name,{prompt: 'Select Brand'}, {id: 'f1'}%>
	</div><br>

   <div class="field">
      <%= f.label "Vehicle:" %><br>
      <%= f.grouped_collection_select :vehicle_id, Brand.order(:id), :vehicles, :name, :id, :vehicle_name, {prompt: 'Select Vehicle'}, {id: 'f2'} %>
  </div><br>


  <div class="field">
    <%= f.label "Manufacture Year:" %><br>
    <%= f.select :manf_year, 2000..Date.today.year %>

  </div><br>

  <div class="field">
    <%= f.label "Registration Number:" %><br>
    <%= f.text_field :reg_no, required: :true %>
  </div><br>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<script type="text/javascript">
  jQuery(function() {
 let models = $('#f2').html();
 return $('#f1').change(function() {
  let brand = $('#f1 :selected').text();
  let options = $(models).filter(`optgroup[label='${brand}']`).html();
  if (options) {
   return $('#f2').html(options);
  } else {
   return $('#f2').empty();
 }
 });
});
  $("#f1").change(function () {
   if ($("#f1").val() == 0) {
     $('#f2').attr('disabled', 'disabled');
     } else {
       $('#f2').removeAttr('disabled');
     }
}).trigger("change");
</script>