<%= form_for @booking do |f| %>

  <div class="field">
      <%= f.label "Select vehicle" %><br>
      <%= f.collection_select :uservehicle_id, @user, :id, :reg_no %>
  </div><br>
  
  <div class="field">
  <%= f.label "Select Dateslot" %><br>
   <%= f.text_field :dateslot, "data-provide" => 'datepicker', :id=>"date" ,autocomplete: "off" %>
  </div><br>

  <div class="field">
      <%= f.label "Select Timeslot" %><br>
      <%= f.collection_select :timeslot_id, Timeslot.all, :id, :time %>
  </div><br>

  

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
<script type="text/javascript">
$('#date').datepicker({ 
    startDate: new Date() 
});

$('#date').on('changeDate', function(ev){
    $(this).datepicker('hide');
});


$(document).ready(function(){      //Add this line (and it's closing line)
// $(function() {
//    $('#date').datepicker({ 
//        beforeShowDay: $.datepicker.noWeekends 
//    });
// });
$(function () {
    $('#datetimepicker1').datetimepicker({
        inline: true,
        format: "dd MM yyyy",
        defaultDate: null,
        daysOfWeekDisabled: [0, 6]
    })
}).on('dp.change', function (e, selectedDate, $td) {
    //var time = e.date.format("HH:mm:ss");
    //alert(e.date + '  -  ' + time);
    $('.input-field1').val(e.date.format("DD/MM/YYYY"));
    if (check) {
        $('.FormDownDateSelect').slideToggle("fast", function () { });
    }
});
});



</script>