<%= form_for @booking do |f| %>

  <div class="field">
      <%= f.label "Select vehicle" %><br>
      <%= f.collection_select :uservehicle_id, @user, :id, :uservehicle_name %>
  </div><br>
  
  <div class="field">
   <%= f.label "Select Dateslot" %><br>
   <%= f.text_field :dateslot, "data-provide" => 'datepicker', :id=>"date" ,autocomplete: "off"%>
  </div><br>

  <div class="field">
      <%= f.label "Select Timeslot" %><br>
      <%= f.text_field :timeslot, "data-provide" => 'timepicker', :id => "time",autocomplete: "off" %>
  </div><br>

  

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<script>
 

    $('#date').datepicker({
        
        format: 'dd-mm-yyyy',
        startDate: '+3d',
        endDate: '+45d',
        autoclose: true,
        daysOfWeekDisabled: "0,6"

    });
    
    $('#time').timepicker({
                minuteStep: 60,
                showInputs: true,
                disableFocus: true,
            }).on('changeTime.timepicker', function(e) {    
    var h= e.time.hours;
    var m= e.time.minutes;
    var mer= e.time.meridian;
    //convert hours into minutes
    m+=h*60;
    //10:15 = 10h*60m + 15m = 615 min
    if(mer=='AM' && m<615)
        $('#timepicker').timepicker('setTime', '10:15 AM');
  });
    $("#time").click(function(){
        $(".bootstrap-timepicker-widget").toggle();

    });

</script><!-- 
$('#timepicker').timepicker({
        minuteStep: 1,
        showInputs: true,        
        showMeridian: true,        
}) -->