<%= form_for @booking do |f| %>

  <div class="field">
      <%= f.label "Select vehicle" %><br>
      <%= f.collection_select :uservehicle_id, @user, :id, :reg_no %>
  </div><br>
  
  <div class="field">
  <%= f.label "Select Dateslot" %><br>
   <%= f.text_field :dateslot, "data-provide" => 'datepicker', :id=>"date" ,autocomplete: "off"%>
  </div><br>

  <div class="field">
      <%= f.label "Select Timeslot" %><br>
      <%= f.collection_select :timeslot_id, Timeslot.all, :id, :time %>
  </div><br>

  

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
