<%= form_for @booking do |f| %>

  <div class="field">
      <%= f.label "Select vehicle" %><br>
      <%= f.collection_select :uservehicle_id, @user, :id, :uservehicle_name %>
  </div><br>
  
  <div class="field">
   <%= f.label "Select Dateslot" %><br>
   <%= f.text_field :dateslot, "data-provide" => 'datepicker', :id=>"date" ,autocomplete: "off"%>
  </div><br>

  <div class="field">
      <%= f.label "Select Timeslot" %><br>
      <%= f.text_field :timeslot, "data-provide" => 'timepicker', :id => "time",autocomplete: "off" %>
  </div><br>

  

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<script>
 

    $('#date').datepicker({
        
        format: 'dd-mm-yyyy',
        startDate: '+3d',
        endDate: '+45d',
        autoclose: true,
        daysOfWeekDisabled: "0,6"

    });
    
    $('#time').timepicker({
                minuteStep: 60,
                showInputs: false,
                disableFocus: true,
            });
    $("#time").click(function(){
        $(".bootstrap-timepicker-widget").toggle();

    });

</script>
