<div class="login-container lightmode">
        
            <div class="login-box">
 
                <div class="login-body">


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put,class: "form-group"} ) do |f| %>
   <div class="login-title"><strong >Change Your Password</strong></div>
            <br>
  <%= f.hidden_field :reset_password_token %>

   <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    
    <%= f.password_field :password, autocomplete: "off",class: "form-control", id: "password" , placeholder: "Enter your Password" %>
                  
                </div>
              </div>
              <br>
  <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control", id: "confirm" , placeholder: "Confirm new your Password" %>
              
                </div>
              </div>
 
<br>
    <%= f.submit "Change my password", id: "button", class: "btn btn-primary btn-lg btn-block login-button actions" %>
  </div>
<% end %>
</div>
</div>

<script>
   $(document).ready(function () {
$("#new_user").validate({
rules: {
"user[password]": {required: true, minlength: 6},
"user[password_confirmation]": {required: true, equalTo: "#user_password"}
}
});
});
  </script>