
     <div class="row-fluid">
            <div class="span10 offset1">
                <div class="main-section main-primary">
                    <div class="main-heading">
                        <h1 class="main-title text-center">VEHICLE</h1>
                    </div>


                <div class="container">
                <div class="row">
                    <div class="main-body col-md-6 col-md-offset-3">
                        <div class="row-fluid">
                         
                            <div class="span6 text-center">
                               
                                <strong class="text-head"> VEHICLE ADDED</strong><br>

                                <table class="table table-condensed table-responsive table-user-information">
                                    <tbody>
                                    <tr>
                                        <td class="labels">Brand</td>
                                        <td class="tabledata"><%=@vehicle.brand.name%></td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Model</td>
                                        <td class="tabledata" ><%=@vehicle.model.name%></td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Variant</td>
                                        <td class="tabledata"><%=@vehicle.variant.name%>
                                      
                                        </td>
                                      
                                        
                                    </tr>
                                    <tr>
                                        <td class="labels"> Starting year</td>
                                        <td class="tabledata"><%=@vehicle.startyear%></td>
                                    </tr>
                                   
                                    </tbody>
                                </table>
                            </div>
                         
                        </div>
                    </div>
                </div>
                    <div class="main-footer text-center">
                       <p>Please Visit Update option for choosing/modifying the vehicle's services and the cost of service. 
                        <%=link_to "Edit",edit_vehicle_path(@vehicle), class: "btn btn-warning"%>
                          <!--   <button class="btn btn-danger" type="button"
                                    ><i class="fa fa-trash "></i></button> -->
                           <!--  <button class="btn btn-danger" type="button"
                                    data-toggle="tooltip"
                                    data-original-title="Remove this user"><i class="fa fa-trash"></i></button> -->
                           </p>
       
                        </div>
                </div>
            </div>
        </div>     
    </div>


