
     <div class="row-fluid">
            <div class="span10 offset1">
                <div class="main-section main-primary">
                    <div class="main-heading">
                        <h1 class="text-center text-head">  <strong >VEHICLE </strong></h1>
                    </div>


                <div class="container">
                <div class="row">
                    <div class="main-body col-md-6 col-md-offset-3">
                        <div class="row-fluid">
                         
                            <div class="span6 text-center">
                               
                                <strong class="text-head"></strong><br>

                                <table class="table table-condensed table-responsive table-user-information">
                                    <tbody>
                                    <tr>
                                        <td class="labels">Brand</td>
                                        <td class="tabledata"><%=@vehicle.brand.name%></td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Model</td>
                                        <td class="tabledata" ><%=@vehicle.model.name%></td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Variant</td>
                                        <td class="tabledata"><%=@vehicle.variant.name%>
                                      
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            <%i=1%>
                                <table class="table table-condensed table-responsive table-user-information tborder">
                                    <tbody>
                                 <tr>
                                        <td class="labels tablestyling">S.No</td>
                                        <td class="labels tablestyling">Service Name</td>
                                        <td class="labels tablestyling">Service Cost</td>
                                    </tr>
                                        <% @vehicle.services.select('services.*, vehicle_services.basic_cost').each do |service| %>
                                    <tr>
                                        <td class="tabledata tablestyling"><strong><%=i%></strong></td>
                                        <td class="tabledata tablestyling"><%=service.name%></td><%i=i+1%>
                                        <td class="tabledata tablestyling"><%=service.basic_cost%></td>
                                    </tr>
                                        <%end%>
                                           </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="main-footer text-center">
                        <p>Please Visit Update option for choosing/modifying the vehicle's services and the cost of service. 
                            <%=link_to "Edit",edit_vehicle_path(@vehicle), class: "btn btn-warning"%>
                        </p>
       
                    </div>
                </div>
            </div>
        </div>     
    </div>

