
<!--section1-->

<ul class="bxslider">
<li class="img-container">
<img src="/assets/slider1.jpg">	
<div class="container under">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
<div class="intro-content ">
<div>
<img class="icon"  src="/assets/check.png" class="img-responsive"></div>
<h1>MAKE YOUR CAR LAST LONGER</h1>
<p>Great customer service, down to the last detail</p>

<p><button class="button button1">BOOK NOW</button></p>

</div>
</div>
</div>
</div>
</li>
 <li class="img-container"><img src="/assets/slider2.jpg">
<div class="container-fluid under">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
<div class="intro-content1">
<div>
<img class="icon"  src="/assets/work.png" class="img-responsive"></div>
<h1>We Keep Your Motor Running</h1>
<p>Give Your Engine The Care It Needs.</p>
<p><button class="button button1">BOOK NOW</button></p>
</div>
</div>
</div>
</div>
</li>
<li class="img-container"><img src="/assets/slider3.jpg"  >
<div class="container-fluid under">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
<div class="intro-content2">
<div>
<img class="icon"  src="/assets/wrench.png" class="img-responsive"></div>
<h1>Where every detail counts</h1>
<p>We are driven to serve you.</p>
<p><button class="button button1">BOOK NOW</button></p>
</div>
</div>
</div>
</div>
</li>
</ul>
<!--section2-->
<div class="container-fluid space" style="background-color: #f2eeee;">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" >
  <h1 class="wwd">What  <span class="sec2"> SERVE</span><span class="sec21">4</span><span class="sec22">WHEELS</span>  Do ?</h1>
 
</div>
</div>
<div class="row space">
<div class="col-xs-6 col-md-3 col-lg-3 parent-img paddingmargin" >
  <img class="img-responsive" style="position: relative;" src="/assets/ww1.jpg" />
<div class="caption">			
<h2>Fuel System</h2>
<p>Check and Repair</p>			
</div>
 </div>
 <div class="col-xs-6 col-md-3 col-lg-3   parent-img paddingmargin">
   <img class="img-responsive" src="/assets/ww2.jpg" />
   <div class="caption">	
		
<h2>Brake</h2>
<p>Check and Repair</p>		

</div>
 </div>

 <div class="col-xs-6 col-md-3 col-lg-3  parent-img paddingmargin">
   <img class="img-responsive" src="/assets/ww3.jpg" />
   <div class="caption">			
<h2>Wheel Alignment</h2>
<p>Check and Repair</p>			
</div>
 </div>
 <div class="col-xs-6 col-md-3 col-lg-3  parent-img paddingmargin">
   <img class="img-responsive" src="/assets/ww4.jpg" />
   <div class="caption">			
<h2>Starter</h2>
<p>Check and Repair</p>			
</div>
 </div>
 <div class="col-xs-6 col-md-3 col-lg-3  parent-img  paddingmargin">
   <img class="img-responsive" src="/assets/ww5.jpg" />
   <div class="caption">			
<h2>Exhaust</h2>
<p>Check and Repair</p>			
</div>
 </div>
  <div class="col-xs-6 col-md-3 col-lg-3 parent-img paddingmargin">
   <img class="img-responsive" src="/assets/ww6.jpg" />
   <div class="caption">			
<h2>Tire Rotation</h2>
<p>Check and Repair</p>			
</div>
 </div>
   <div class="col-xs-6 col-md-3 col-lg-3  parent-img paddingmargin">
   <img class="img-responsive" src="/assets/ww7.jpg" />
   <div class="caption">			
<h2>Radiator</h2>
<p>Check and Repair</p>			
</div>
 </div>
   <div class="col-xs-6 col-md-3 col-lg-3  parent-img paddingmargin">
   <img class="img-responsive" src="/assets/ww8.jpg" />
   <div class="caption">			
<h2>Drivability </h2>
<p>Check and Repair</p>			
</div>
 </div>
 <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 below">
 	<h3 >Our well-trained and thoughtful staff can help you in many ways.
 	<button class="buttonww button12 "> OUR SERVICES</button></h3>
 </div>
 
</div>
</div>
<!--section3-->
<div class="container-fluid space">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" >
  <h1 class="wwd">Why Choose  <span class="sec2"> SERVE</span><span class="sec21">4</span><span class="sec22">WHEELS</span> ?
  </h1>
</div>
</div>
</div>
<div class="container" style="width: 100%;" >
	<div class="row space">
		<!-- Featured Panel #1 -->
			<div class="col-xs-12 col-sm-4 col-md-4" style="position: relative;">
			<div class="featured-icon">
						<img class="img-responsive" src="/assets/search.png">
					</div>
				<div class="featured-panel">
					
					<div class="featured-content">
						<h3>Transparency</h3>
						<p>No taking your baby away from your eyesight even for a moment. Your bike will be repaired your way. Genuine parts changed and repaired in front of you with your consent. </p>
					</div>
				</div>
			</div>
	<!-- Featured Panel #2 -->
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="featured-panel">
					<div class="featured-icon">
				<img class="img-responsive" src="/assets/mechanic.png">
					</div>
					<div class="featured-content">
						<h3>Trusted Mechanics</h3>
						<p>We understand your love for your bike and make sure that it is only someone who shares the same passion touches it. Our mechanics are thoroughly trained and monitored.</p>
					</div>
				</div>
			</div>
				<!-- Featured Panel #3 -->
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="featured-panel">
					<div class="featured-icon">
						<img class="img-responsive" src="/assets/24_7.png">
					</div>
					<div class="featured-content">
						<h3>Availaibility 24/7</h3>
						<p> Well, not literally! It could day or night or sunny or rainy! Basically, anytime. Give us a call & 90 minutes* and you’ll be
riding away like nothing, ever, happened!.</p>
					</div>
				</div>
			</div>
		
		</div>
	</div>
<!--section4-->
<section id="carousel" >    				
	<div class="container testimonial">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 textplace">
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
				  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
				    <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
                    <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
                    <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
                    <li data-target="#fade-quote-carousel" data-slide-to="5"></li>
				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="item">
                    
				    	<blockquote>
				    		<p>It's the first time that we've used the website. They found us a local garage whose team were friendly, efficient and in addition to the service helpful with advice. </p>
				    		<p class="quoteby">- NATASHA</p>
				    	</blockquote>

				    </div>
				    <div class="item">
                   
				    	<blockquote>
				    		<p>It's the first time that we've used the website. They found us a local garage whose team were friendly, efficient and in addition to the service helpful with advice.</p>
				    		<p class="quoteby">- SUKHMAN</p>
				    	</blockquote>
				    </div>
				    <div class="active item">
                
				    	<blockquote>
				    		<p>Brought in my car for a battery replacement. Couldn't have asked for better service. The price was very reasonable and considerably less than taking it to the dealership.</p>
				    		<p class="quoteby">- VIJAY</p>
				    </div>
                    <div class="item">
                      
    			    	<blockquote>
				    		<p>My check engine light came on after I had a repair done on my car.Serve4wheels resolved the issue at no charge to me and were very friendly and professional about it.</p>
				    		<p class="quoteby">- ARCHANA</p>
				    	</blockquote>
				    </div>
                    <div class="item">
              
    			    	<blockquote>
				    		<p>My check engine light came on after I had a repair done on my car.Serve4wheels resolved the issue at no charge to me and were very friendly and professional about it.</p>
				    		<p class="quoteby">- ANMOL</p>
				    	</blockquote>
				    </div>
                    <div class="item">
                 
    			    	<blockquote>
				    		<p>Brought in my car for a battery replacement. Couldn't have asked for better service. The price was very reasonable and considerably less than taking it to the dealership.</p>
				    		<p class="quoteby">- SUKHMAN</p>
				    	</blockquote>
				    </div>
				  </div>
				</div>
			</div>							
		</div>
	</div>
</section>
<!--section 5 -->
<div class="container-fluid">
<div class="row">

<div class="col-md-6" style="padding-top:27px;">
<h2 class="brands">BRANDS WE SERVE</h2>
        <div class="row" style="padding-bottom: 42px;">

            <div class="col-xs-6 col-sm-4  col-md-6 ">

         

                    <img src="/assets/img1.png" alt="suzuki" class="thumbnail">

           
            </div>

            <div class="col-xs-6  col-sm-4  col-md-6">

         

                    <img src="/assets/img4.png" alt="hyundai" class="thumbnail">

           
            </div>

            <div class="col-xs-6  col-sm-4  col-md-6">

         

                    <img src="/assets/img3.png" alt="tata" class="thumbnail">

           
            </div>

            <div class="col-xs-6 col-sm-4  col-md-6">


                    <img src="/assets/img1.jpg" alt="honda" class="thumbnail">

           
            </div>
             <div class="col-xs-6 col-sm-4  col-md-6">


                    <img src="/assets/img8.png" alt="ford" class="thumbnail">

           
            </div>
             <div class="col-xs-6 col-sm-4  col-md-6">


                    <img src="/assets/img3.jpg" alt="toyota" class="thumbnail">

           
            </div>

        </div>

    </div>
    <div class="col-md-6 bg-signup" style="background-image: url(/assets/formbg1.jpg);background-repeat: no-repeat;
  height: 610px;" >



				<div class="main-login main-center">
				<h5 >SIGNUP FOR FREE</h5>
				
					<%= form_for(:user, url: registration_path(:user),html: {class: "form-group", id: "user_home"}) do |f| %>
						
						
						
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>

									    <%= f.text_field :name, class: "form-control",id: "name",placeholder: "Enter your Name" %>

								
								</div>
							</div>
						
	<br>
						
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>

									 <%= f.email_field :email,class: "form-control", id: "email",placeholder: "Enter your Email",required:true %>

								</div>
							</div>
						
<br>
					
				
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>

									   <%= f.text_field :phone,class: "form-control", id: "username",placeholder: "Enter your Phone number" %>

									
								</div>
							</div>
						
<br>
						
						
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off",class: "form-control", id: "password" , placeholder: "Enter your Password" %>
									
								</div>
							</div>
						

				<br>	
							
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									  <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control", id: "confirm" , placeholder: "Confirm your Password" %>
							
								</div>
							</div>
						
<br>
                                <%= f.submit "Sign up", id: "button", class: "btn btn-primary btn-lg btn-block login-button actions"%>
						
		
<br>

	<div class="col-md-6 col-sm-6 col-xs-12 nopadd">
        <a class="btn btn-block btn-social button-facebook btnbord">
            <span class="fa fa-facebook"></span> Sign Up
        </a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 nopadd">
   <a class="btn btn-block btn-social button-twitter btnbord" >
        <span class="fa fa-twitter"></span> Sign up
    </a>
    </div>
 <div class="col-sm-12 col-md-12">
 <p class="text-center" style="margin-top: 10px; font-size: 19px;">Already a user? <span><%=link_to "Sign In", new_user_session_path, class: "signin"%></span>
 </p>
 </div>
</div>
<% end %>

</div>
</div>
</div>


 <%=render 'layouts/footer' %>

<script type="text/javascript">
$(document).ready(function(){
$('.bxslider').bxSlider({

  pager: false,
 });
});

$(document).ready(function () {
$("#user_home").validate({
rules: {
"user[name]": {required: true},
"user[phone]": {required: true,minlength: 10,maxlength: 10,digits: true},
"user[email]": {required: true, email: true}, 
"user[password]": {required: true, minlength: 6},
"user[password_confirmation]": {required: true, equalTo: "#password"}
}
});
});
</script>
