
    <footer class="footer" id="sticky">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        	<div class="col-md-4 footer-nav animated text-center">
               <h4>
                 <span class="border-head">Support</span>
               </h4>
               
                  <ul class="list">
                      <li><a href="<%=faq_path%>">FAQ</a></li>
                      <li><a href="<%=tnc_path%>">Terms & Condition</a></li>
                      <li><a href="<%=privacy_policy_path%>">Privacy Policy</a></li>
                  </ul>
            </div>
        	<div class="col-md-4 footer-nav animated text-center">
            	<h4>
                <span class="border-head">Company</span>
              </h4>
                    <ul class="list">
                        <li><a href="<%=about_us_path%>">About Us</a></li>
                        <li><a href="<%=our_team_path%>">Our Team</a></li>
                        <li><a href="<%=contact_us_path%>">Contact Us</a></li>
                    </ul>
            </div>
        	<div class="col-md-4 footer-social animated text-center">
            	<h4>
                <span class="border-head">Follow-Us</span>
                 
              </h4>
            	<ul>
                	<li><a href="https://www.facebook.com/" >Facebook</a></li>
                	<li><a href="https://twitter.com/" >Twitter</a></li>
                	<li><a href="https://www.instagram.com/?hl=en" >Instagram</a></li>
                </ul>
            </div>
          </div> 
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <hr>
            <p style="text-align: center;margin-top: 22px;">© 2017 Serve4Wheels, All rights reserved</p>
         </div>
        </div>

    </footer>
