        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="main-section main-primary">
                    <div class="main-heading">
                        <h3 class="main-title text-center">User information</h3>
                    </div>
  <%@uservehicle.each do |users| %>
                <div class="container">
                <div class="row">
                    <div class="main-body col-md-6 col-md-offset-3">
                        <div class="row-fluid">
                            <div class="span3">
                                  <%= image_tag users.user.image.url(:medium),class: "img-circle text-center img-responsive default" %>
                                   
                            </div>
                            <div class="span6 text-center">
                               
                                <strong class="text-head"><%= users.user.name%></strong><br>

                                <table class="table table-condensed table-responsive table-user-information">
                                    <tbody>
                                    <tr>
                                        <td class="labels">User Email</td>
                                        <td class="tabledata"><%=users.user.email%></td>
                                    </tr>
                                    <tr>
                                        <td class="labels">User Phone</td>
                                        <td class="tabledata" ><%= users.user.phone%></td>
                                    </tr>
                                    <tr>
                                        <td class="labels">User Vehicle</td>
                                        <td class="tabledata"><%=users.reg_no%> 
                                        <p><%= users.vehicle.brand.name%>
                                        <%= users.vehicle.model.name%></p>  
                                        </td>
                                      
                                        
                                    </tr>
                                    <tr>
                                        <td class="labels"> Number of Bookings</td>
                                        <td class="tabledata"></td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Current Booking</td>
                                        <td class="tabledata"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                         
                        </div>
                    </div>
                </div>
                    <div class="main-footer ">
                       
                        <span class="pull-right">
                            <button class="btn btn-danger" type="button"
                                    ><i class="fa fa-trash "></i></button>
                           <!--  <button class="btn btn-danger" type="button"
                                    data-toggle="tooltip"
                                    data-original-title="Remove this user"><i class="fa fa-trash"></i></button> -->
                            </span>
                        </div>
                </div>
            </div>
        </div>     
    </div>
<%end%>