<style type="text/css">
	.relative{
		position: relative;
	}
	label.error{
   top: 24px;
    z-index: 9;
    position: absolute;
    color: #ce0000;
    font-size: 11px;
    } 
    hr{
    	margin-top: 0px;
    	margin-bottom: 0px;

    }
    .nav > li > a {
    	padding: 14px 15px;
    }
    .btn{
      box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.26);
    }
    .fileinput{
      margin-bottom: 40px;
    }

</style>
<img src="/assets/userdash.jpg" class="img-responsive" width="100%" height="400">       
 <div class="clearfix">
                           <ul class="nav nav-tabs tabs-left text-center back-color-tab" style="height: 60px;">
											<li class="active"><a href="#tab9_1" data-toggle="tab" style="font-size: 20px;" >Profile</a></li>
											<li><a href="#tab9_2" data-toggle="tab" style="font-size: 20px;">Password</a></li>
											<li><a href="#tab9_3" data-toggle="tab" style="font-size: 20px;line-height: 1.3">My vehicles</a></li>
                      <li><a href="#tab9_4" data-toggle="tab" style="font-size: 20px;">My Bookings</a></li>

										</ul>
				<div class="panel">
					<div class="panel-body p-60">

						<div class="row no-gutters">

							<div class="styled-tabs tab-primary">
								<div class="col-md-12">
								
									
										<div class="tab-content">
											<div class="tab-pane active" id="tab9_1">
											<div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center pumping-heart color-orange">
                          <i class="fa fa-user">
                          </i>
                         <h4>PROFILE</h4>
                        </div>
                     </div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  text-center">
											 <div class="field relative">
	                                            <%= form_for(@user, url: registration_path(@user), html: { method: :put ,:id => "image"}) do |f| %> 

                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 250px; height: 200px; border: 1px solid #e3e3e3;">
                                                   <%if @user.image.exists?%>
                                                  <%= image_tag @user.image.url , :size =>'220x200' %>
                                                   <%end%>
                                               </div>
                 
                                                <div>
                                                 <span class="btn btn-default btn-file">
                                                  <span class="fileinput-new">Select image</span>
                                                   <span class="fileinput-exists">Change</span>
                                                    <%if @user.image.exists?%>
                                                         <%= f.file_field :image %>
                                              
                                                      <%else%>
                                                        <%= f.file_field :image %>
                                                      <%end%>
                                                       </span>
                                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                             </div>
                                             </div>
	                                            <%end%>
										 </div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
										    <%= form_for(@user, url: registration_path(@user), html: { method: :put ,:id => "nopassword"}) do |f| %>

                                                 <div class="field relative">
                                                    <%= f.label :email %><br />
                                                     <%= f.email_field :email, autofocus: true , :class => "form-control"%>
                                                  </div>

                                                  <div class="field relative">
                                                    <%= f.label :name %><br />
                                                     <%= f.text_field :name, autofocus: true , :class => "form-control"%>
                                                  </div>

                                                  <div class="field relative">
                                                    <%= f.label :phone_number %><br />
                                                     <%= f.text_field :phone, autofocus: true, :class => "form-control" %>
                                                  </div>
                                                 <div class="actions">
                                                     <%= f.submit "Update" %>
                                                 </div>
                                            <% end %>
										</div>
									</div><!-- tabpane -->
											<div class="tab-pane" id="tab9_2">
												<div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center pumping-heart color-orange">
                          <i class="fa fa-lock"></i>
                          <h4>PASSWORD</h4>
                         </div>
                       </div>
												<p>
										    <%= form_for(@user, url: registration_path(@user), html: { method: :put  ,:id => "passwordonly" ,:class => "text-center"}) do |f| %>


                                                 <div class="field relative">
                                                     <%= f.label :password %> <br />
                                                     <%= f.password_field :password, autocomplete: "off" %>
                                                  </div>

                                                 <div class="field relative">
                                                    <%= f.label :password_confirmation %><br />
                                                    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                                                 </div>

                                                 <div class="field relative">
                                                    <%= f.label :current_password %> <br />
                                                    <%= f.password_field :current_password, autocomplete: "off" %>
                                                 </div>
                                                 <br>

                                                 <div class="actions">
                                                     <%= f.submit "Update" %>
                                                 </div>
                                            <% end %>
										</p>
									</div><!-- tabpane -->
									<div class="tab-pane" id="tab9_3">
												<h5>List of vehicles</h5>
											<%@user.uservehicles.all.each do |uservehicle|%>
                      <%=uservehicle.vehicle.brand.name%> <%=uservehicle.vehicle.model.name%> <%=uservehicle.vehicle.variant.name%> (<%=uservehicle.reg_no%>) <td><%= link_to 'Edit', edit_uservehicle_path(uservehicle) %></td><br>
                      <%end%>
                      <%= link_to 'Add new vehicle', new_uservehicle_path %>
									</div><!-- tabpane -->
                  <div class="tab-pane" id="tab9_4">
                       <%@user.bookings.all.each do |booking|%>
                      <%=booking.uservehicle.uservehicle_name%> <%=booking.dateslot%>  <%=booking.timeslot%><td><%= link_to 'Edit', edit_booking_path(booking) %></td><br>
                      <%end%>
                  </div><!-- tabpane -->
									</div>
								
							</div><!--.styled-tabs-->

						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
</div>
<script type="text/javascript">

	$(document).ready(function () {
    $("#passwordonly").validate({
      rules: {
    "user[password]": {required: true},
    "user[password_confirmation]": {required: true},
    "user[current_password]": {required: true}
}
});
});
  $(document).ready(function () {
    $("#nopassword").validate({
      rules: {
    "user[email]": {required: true},
    "user[name]": {required: true},
    "user[phone]": {required: true}
}
});

    $("#passwordonly").validate({
      rules: {
    "user[password]": {required: true},
    "user[password_confirmation]": {required: true},
    "user[current_password]": {required: true}
}
});
     $("#image").validate({
      rules: {
    "user[image]": {required: true}
}
});
    Pleasure.init();
    Layout.init();


});

</script>