<style type="text/css">
	.relative{
		position: relative;
	}
	label.error{
   top: 8px;
    z-index: 9;
    position: relative;
    color: #ce0000;
    font-size: 11px;

    } 
    hr{
    	margin-top: 0px;
    	margin-bottom: 0px;

    }
    .nav > li > a {
    	padding: 14px 15px;
    }
    .btn{
      box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.26);
    }
    .fileinput{
      margin-bottom: 40px;
    }
    a:hover{
      color: #f13c20;
    }
    .pumping-heart{
    height: 134px;
    margin-bottom: 10px;

}

</style>
<img src="/assets/userdash.jpg" class="img-responsive" width="100%" height="400">       
 <div class="clearfix">
                     <ul class="nav nav-tabs tabs-left text-center back-color-tab height-60 mh-45" >
											<li class="active"><a href="#tab9_1" data-toggle="tab" class="f-20 mf-10" >Profile</a></li>
											<li><a href="#tab9_2" data-toggle="tab" class="f-20 mf-10">Password</a></li>
											<li><a href="#tab9_3" data-toggle="tab" class="f-20 mf-10">Vehicles</a></li>
                      <li><a href="#tab9_4" data-toggle="tab" class="f-20 mf-10">Bookings</a></li>

										</ul>
				<div class="panel">
					<div class="panel-body p-60">

						<div class="row no-gutters">

							<div class="styled-tabs tab-primary">
								<div class="col-md-12">
								
									
										<div class="tab-content">
											<div class="tab-pane active" id="tab9_1">
											<div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center pumping-heart color-orange ">
                          <i class="fa fa-user">
                          </i>
                         <h4>PROFILE</h4>
                        </div>
                     </div>

										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-50  ">
										    <%= form_for(@user, url: registration_path(@user), html: { method: :put ,:id => "nopassword", class: "form-group "}) do |f| %>
                                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 text-center border-right">
                                          <div class="field ">
                                             <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 250px; height: 200px; border: 1px solid #e3e3e3;">
                                                   <%if @user.image.exists?%>
                                                  <%= image_tag @user.image.url(:medium) %>
                                                  <%else%>
                                                  <img src="/assets/default.jpg">
                                                   <%end%>
                                               </div>
                 
                                                <div>
                                                 <span class="btn btn-default btn-file">
                                                  <span class="fileinput-new">Select image</span>
                                                   <span class="fileinput-exists">Change</span>
                                                    <%if @user.image.exists?%>
                                                         <%= f.file_field :image %>
                                              
                                                      <%else%>
                                                        <%= f.file_field :image %>
                                                      <%end%>
                                                       </span>
                                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                             </div>
                                             </div>
                                            
                                          </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-horizontal">
                                                    
                     <div class="form-group">
  <label class="col-md-3 control-label shift" >Name  <span  class="userfa"><i class="fa fa-user fa" aria-hidden="true"></i></span>
</label>  
  <div class="col-md-6">
                <div class="input-group w-100">
                 
                      <%= f.text_field :name, class: "form-control"%>
</div>
</div>
                
               
              </div>
            
  <br>
            <div class="form-group">
  <label class="col-md-3 control-label shift" >Email     <span  class="userfa"><i class="fa fa-envelope fa" aria-hidden="true"></i></span></label>

  <div class="col-md-6">

             
                <div class="input-group w-100">
                

                   <%= f.email_field :email,class: "form-control"  %>
</div>
</div>
                
              </div>
            
<br>
          
        <div class="form-group">
  <label class="col-md-3 control-label shift" for="Phone number ">Phone number            <span class="userfa"><i class="fa fa-phone fa" aria-hidden="true"></i></span></label>  
  <div class="col-md-6">
             
                <div class="input-group w-100">
        

                     <%= f.text_field :phone,class: "form-control"    %>

               </div>
               </div>   
                
              </div>
        <br>
              <div class="cols-sm-6 col-sm-offset-2 col-xs -12 col-md-6 col-md-offset-2">
   <%= f.submit "Update", class: "btn btn-primary btn-lg btn-block login-button updatebtn actions",style: "box-shadow: rgba(237, 227, 227, 0)"  %>
  </div>
                                                 </div>
                                            <% end %>
										</div>
									</div><!-- tabpane -->
											<div class="tab-pane" id="tab9_2">
												<div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center pumping-heart color-orange">
                          <i class="fa fa-lock"></i>
                          <h4>PASSWORD</h4>
                         </div>
                       </div>
										    <%= form_for(@user, url: registration_path(@user), html: { method: :put  ,:id => "passwordonly" ,:class => "text-center form-group w-50"}) do |f| %>
   <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class= "fa fa-unlock-alt" aria-hidden="true"></i></span>
                    
    <%= f.password_field :password, autocomplete: "off",class: "form-control", id: "password" , placeholder: "Enter your new Password" %>
                  
                </div>
              </div>
              <br>
  <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control", id: "confirm" , placeholder: "Confirm your new Password" %>
              
                </div>
              </div>
<br>
  <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                     <%= f.password_field :current_password, autocomplete: "off",class: "form-control", id: "current" , placeholder: "Your current Password" %>
              
                </div>
              </div>
              <br>
<div class="cols-sm-10 text-center" style="width: 36%;">
    <%= f.submit "Change my password", id: "button1", class: "btn btn-primary btn-lg btn-block login-button actions" %>
  </div>
  </div>
<% end %>
							
									<div class="tab-pane" id="tab9_3">
                        <div class="text-center pumping-heart color-orange">
                          <i class="fa fa-car"></i>
                          <h4>MY VEHICLES</h4>
                         </div>
                         <div style="text-align: center;margin-bottom: 50px;"><%= link_to 'ADD VEHICLE', new_uservehicle_path ,:class => "button-vehicle" %></div>
                         <%@user.uservehicles.all.each do |uservehicle|%>
                         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                         <div class="panel">
                             <div class="panel-heading">
                             <div class="panel-title " style="background-color: #e3e3e3;"><h4>MY VEHICLE</h4>
                             <div class="panel-buttons">
                                <div class="btn-group btn-merged">
                                 <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>'), edit_uservehicle_path(uservehicle) , :class => "color-black m-r-10 f-20"%>
                                <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), uservehicle_path(uservehicle) , method: :delete,:class => "color-black f-20"%>
                                </div>
                             </div><!--.panel-buttons-->
                             </div><!--.panel-title-->
                              </div><!--.panel-heading-->
                              <div class="panel-body">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 color-orange text-center"><b>REGISTRATION NUMBER</b></div>
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center"><%=uservehicle.reg_no%></div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 color-orange text-center"><b>BRAND</b></div>
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center"><%=uservehicle.vehicle.brand.name%></div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 color-orange text-center"><b>MODEL</b></div>
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center"><%=uservehicle.vehicle.model.name%></div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 color-orange text-center"><b>VARIANT</b></div>
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center"><%=uservehicle.vehicle.variant.name%></div>
                              </div>
                              </div><!--.panel-body-->
                         </div><!--.panel-->
                         </div>

                         <%end%>
									</div><!-- tabpane -->
                  <div class="tab-pane" id="tab9_4">
                        <div class="text-center pumping-heart color-orange">
                          <i class="fa fa-shopping-cart"></i>
                          <h4>MY BOOKINGS</h4>
                         </div>
                         <div style="text-align: center;margin-bottom: 50px;"><%= link_to 'BOOK NOW', new_booking_path ,:class => "button-vehicle" %></div>
                          <%@user.bookings.all.each do |booking|%>
                         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                         <div class="panel">
                             <div class="panel-heading">
                             <div class="panel-title " style="background-color: #e3e3e3;"><h4>MY BOOKINGS</h4>
                             </div><!--.panel-title-->
                              </div><!--.panel-heading-->
                              <div class="panel-body">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 color-orange text-center"><b>REGISTRATION NUMBER</b></div>
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center"> <%=booking.uservehicle.reg_no%></div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 color-orange text-center"><b>VEHICLE</b></div>
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center"> <%=booking.uservehicle.vehicle.vehicle_name%></div>
                              </div>
                               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 color-orange text-center"><b>SERVICE BOOKED</b></div>
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center"> <%=booking.uservehicle.reg_no%></div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 color-orange text-center"><b>DATESLOT</b></div>
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center"><%=booking.dateslot%></div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 color-orange text-center"><b>TIMESLOT</b></div>
                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center"><%=booking.timeslot%></div>
                              </div>
                              
                              </div><!--.panel-body-->
                         </div><!--.panel-->
                         </div>
                         <%end%>
                  </div><!-- tabpane -->
									</div>
								
							</div><!--.styled-tabs-->

						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
</div>
</div>

<script type="text/javascript">

	$(document).ready(function () {
    $("#passwordonly").validate({
      rules: {
    "user[password]": {required: true},
    "user[password_confirmation]": {required: true, equalTo: "#password"},
    "user[current_password]": {required: true}
}
});
});
  $(document).ready(function () {
    $("#nopassword").validate({
      rules: {
    "user[email]": {required: true},
    "user[name]": {required: true},
    "user[phone]": {required: true,minlength: 10,maxlength: 10,digits: true}
}
});

     $("#image").validate({
      rules: {
    "user[image]": {required: true}
}
});

    Pleasure.init();
    Layout.init();


});

</script>









